name: First Workflow
on: workflow_dispatch
jobs: 
  first-job:
    runs-on: ubuntu-latest
    steps:
      - name: Welcome
        run: echo "Hello!"
      - name : Bye
        run : echo "Good Bye!"
        
